@import "../../theme/variables.scss";

.field-mapping-wrapper {
    margin-top: 30px;
    font-weight: 600;
    font-size: 14px;
    .field-mapping-title {
        margin-bottom: 10px;
    }
    .field-mapping-head {
        color: $appLightGray2;
        padding-bottom: 8px;
    }
    .field-type {
        font-size: 14px;
        color: $appLightGray2;
    }
}