//application theme colors
$appDark: #53565A;
$appLightGray: #AAAAAA;
$appWhite: #FFFFFF;
$appDeloitteGreen: #09CC92;
$appBrightBlue: #1AA3DD;
$appDashboardDisabled: #AFCAE2;
$appOrange: #FF9900;
$appHighlight: linear-gradient(96.82deg, #09CC92 7.15%, #1AA3DD 88.52%);
$appSecondary: linear-gradient(93.46deg, #FCC400 2.85%, #DE24AA 100.79%);
$appTertiary: #0074DF;
$appLinesColor: #F0F0F0;
$appBackground: #F7F8FA;
$appNavBackground: #3E4B5C;

$appLightGray2: #767676;
$appDarkRed: #EC5B54;
$appSuccess: linear-gradient(96.82deg, #00C395 7.15%, #0D77D4 88.52%);
$appError: linear-gradient(93.46deg, #FC9700 2.85%, #DA291C 100.79%);

$appTextDark: #3E4246;
$appMenuActive: #00C395;
$appDarkerGreen: #00C495;
$appSmokedWhite: #E6E6E6;
$appGreyBorder: #D0D0CE;
$appYellowLight: #FFCD00;