//application theme colors

//White
$appWhite: #ffffff;
$appLinesColor: #f0f0f0;
$appBackground: #f7f8fa;
$appSmokedWhite: #e6e6e6;

//Black
$appTextDark: #3e4246;
$appDark: #53565a;

//Gray
$appLightGray: #aaaaaa;
$appLightGray2: #767676;
$appLightGray3: #f5f5f5;
$appGreyBorder: #d0d0ce;

//Green
$appDeloitteGreen: #09cc92;
$appMenuActive: #00c395;
$appDarkerGreen: #00c495;
$appSuccessGreen: #43b02a;

//Blue
$appBrightBlue: #1aa3dd;
$appDashboardDisabled: #afcae2;
$appNavBackground: #3e4b5c;
$appMainBlue: #0076a8;
$appDarkBlue: #00597f;

//Red
$appDarkRed: #ec5b54;

//Yellow
$appYellowLight: #ffcd00;

//Orange
$appOrange: #ff9900;
$appOrange2:#EFA34C;

//Miscellaneous
$appHighlight: linear-gradient(96.82deg, #09cc92 7.15%, #1aa3dd 88.52%);
$appSecondary: linear-gradient(93.46deg, #fcc400 2.85%, #de24aa 100.79%);
$appTertiary: #0074df;
$appSuccess: linear-gradient(96.82deg, #00c395 7.15%, #0d77d4 88.52%);
$appError: linear-gradient(93.46deg, #fc9700 2.85%, #da291c 100.79%);
