# Byte-compiled / optimized / DLL files
__pycache__/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
pip-wheel-metadata
*.dist-info
node_modules/
.hypothesis

# Environments
.env
env.**
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
settings.ini
.tox
.python-version
.coverage

# docs
docs/build/*

# IDE
.vscode/
.idea/

# Tests
/lib/huxunifylib-database/huxunifylib/database/tests/.hypothesis/
/hux/api/huxunify/test/contract_testing/pact-mock-service.log

.DS_Store
