repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-yaml
        args: ['--unsafe','--allow-multiple-documents']
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
        - --rcfile=.pylintrc
        - --ignore-imports=yes
        - -d duplicate-code

#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.812
#    hooks:
#    -   id: mypy
#        additional_dependencies: ["mypy==0.812"]
#        entry: mypy
#        args:
#        - --config-file=mypy.ini
