@import "../../../theme/variables";

.ct-segment-screen1-wrapper {
    .ct-add-segment-card {
        flex-grow: 1;
        text-align: left;
        margin: 1rem;
    }
    .ct-imagecard-wrapper .ct-imagecard-inner-wrapper .ct-imagecard-image svg {
        padding: 1rem;
    }
    .ct-add-segment-label {
        font-weight: 600;
        text-align: left;
        margin-top: 10px;
        margin-left: 1rem;
        .ct-add-segment-label-light {
            font-weight: normal;
        }
    }
    .model-selected {
        border: 2px solid $appSuccessGreen;
        box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2);
        background: #F1F9EF;
        .ct-imagecard-image {
            background: $appSuccessGreen;
            path {
                fill: white;
            }
        }
    }
}
.ct-segment-screen2-wrapper {
    text-align: left;
    .ct-condition-wrapper{
        .ct-rule-wrapper {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            border-bottom: 1px solid $appGreyBorder;
            padding-left: 16px;
            .ct-rule-arrow {
                height: 30px;
                width: 10px;
                border-left: 1px solid $appLightGray2;
                border-bottom: 1px solid $appLightGray2;
            }
            .ct-rule-select {
                width: auto;
                margin-right: 2rem;
            }
            .ct-rule-slider {
                flex-grow: 1;
            }
            .ct-add-rule-wrapper {
                margin-left: 2rem;
            }
        }
        .ct-rule-arrow-extended {
            height: 14px;
            width: 10px;
            margin-left: 16px;
            border-left: 1px solid $appLightGray2;
        }
        .ct-condition-container {
            background: $appLightGray3;
            display: flex;
            padding: 10px;
            border-top: 1px solid $appGreyBorder;
            border-bottom: 1px solid $appGreyBorder;
        }
    }
}

.ct-segment-screen3-wrapper {
    text-align: left;
    .ct-segment-screen3-title {
        margin-bottom: 20px;
        font-weight: 600;
    }
    .ct-segment-screen3-table {
        .MuiDataGrid-root{
            border: none;
        }
    }
}
.segment-btn-later {
    margin-left: 10px;
}