@import '../../theme/_mixins.scss';

.dashboard-wrapper {
  .content-wrapper {
    padding-left: 70px;
    padding-right: 60px;
    .summary {
      display: flex;
      margin-top: 50px;
      margin-bottom: 20px;
      .summary-card {
        margin-right: 30px;
        .paper {
          width: 280px;
          max-width: 280px;
          padding: 20px 30px;
          display: flex;
          .section {
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            &:nth-last-child() {
              margin-right: 0px;
            }
            span {
              @include boldText;
              font-size: 38px;
              line-height: 40px;
              margin-bottom: 10px;
            }
            a {
              @include boldText;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.2px;
              color: #0076a8;
            }
          }
        }
      }
    }
    .recent-heading {
      padding-top: 40px;
      margin-bottom: 15px;
      @include boldText;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
      color: #333333;
    }
  }
}
