@import 'theme/variables';
@import 'theme/appTheme';

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Open Sans SemiBold';
  color: #333333;
  font-style: normal;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  background: $appBackground;
  #root {
    min-height: 100vh;
    min-width: 100vw;
  }
}
