// Utils
// Contains commonly used and reusable utility design styles

.icon-border {
  border-radius: 5px;
  @extend .cursor-pointer;
  @extend .background-border;
}

.font-weight-semi-bold {
  font-weight: 600 !important;
}

.rotate-icon-180 {
  transform: rotate(180deg);
}

.rotate-icon-90 {
  transform: rotate(90deg);
}

.rotate-icon-0 {
  transform: rotate(0deg);
}

.rotate-icon-n90 {
  transform: rotate(-90deg);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}

.background-border {
  border: 1px solid;
  border-color: #d0d0ce;
}

.box-shadow-25 {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25) !important;
}

.box-shadow-15 {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15) !important;
}

.box-shadow-5 {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05) !important;
}

.box-shadow-3 {
  box-shadow: 0px 0px 10px 2px rgba(117, 123, 123, 0.3) !important;
}
.box-shadow-1 {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1) !important;
}
.box-shadow-plain {
  box-shadow: 0px 1px 0px #d0d0ce !important;
}

.letter-spacing-sm {
  letter-spacing: 0.5px;
}

.processing-button {
  background-size: 300%;
  background-image: linear-gradient(
    270deg,
    #43b02a 11.98%,
    #00a3e0 50%,
    #005587 88%
  );
  animation: bg-animation 2s infinite;
  @keyframes bg-animation {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }
}

.shadow {
  box-shadow: 0px -0.5px 5px 1px rgba(0, 0, 0, 0.15) !important;
}

.border-all {
  border-style: solid;
  border-width: 1px;
}

.border-start {
  border-left-style: solid;
  border-left-width: 1px;
}

.border-end {
  border-right-style: solid;
  border-right-width: 1px;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.border-0 {
  border-width: 0;
}

.v-application .separator {
  border-color: var(--v-black-lighten2) !important;
}

.v-application .black--border.border--lighten-2 {
  border-color: var(--v-black-lighten2) !important;
}

.card-style {
  @extend .box-shadow-5;
  border-radius: 12px !important;
}
.box-shadow-none {
  box-shadow: none !important;
}

.card-shadow {
  @extend .box-shadow-none;
  border: 1px solid var(--v-black-lighten2) !important;
  box-sizing: border-box !important;
  border-radius: 12px !important;
}

.list-shadow {
  @extend .box-shadow-5;
  border-radius: 4px !important;
}

.w-100 {
  width: 100% !important;
}

.mw-100 {
  max-width: 100% !important;
}

.minh-100 {
  min-height: 100vh;
}

.nav-icon {
  fill: var(--v-black-lighten4);
  color: var(--v-black-lighten4);
  &:hover {
    fill: var(--v-primary-lighten6);
    color: var(--v-primary-lighten6);
  }
}

.no-background {
  background: none !important;
}

.action-remove {
  width: 212px;
  height: 32px;
}

.middle {
  display: flex !important;
  align-items: center !important;
}

.btn-border {
  border: solid 1px var(--v-black-lighten1) !important;
}

.tab-min-width {
  min-width: 1584px;
}
