// Globals
$body-font-family: "Open Sans", sans-serif;
$heading-font-family: $body-font-family;
$font-size-root: 14px;
$border-radius-root: 5px;

// Components
// https://vuetifyjs.com/en/features/sass-variables/#variable-api
@import "variables/buttons.variables.scss"
