@import "../../theme/variables.scss";

.ct-chip-wrapper {
  border-radius: 5px;
  .MuiChip-root {
    border-radius: 5px;
  }
  .ct-chip-success {
    background: $appSuccessGreen;
    color: white;
  }
  .ct-chip-not-success {
    background: $appDarkRed;
    color: white;
  }
  .ct-chip-not-success-icon {
    color: $appDarkRed;
  }
  .ct-chip-success-icon {
    color: $appSuccessGreen;
  }
}
