@import "../../theme/variables";

.ct-btn-primary {
  background: $appMainBlue;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-weight: 500;
  text-align: center;
  color: white;
  box-sizing: border-box;
  border: 0;
  padding: 6px 12px;
  &:hover {
    background: $appDarkBlue;
  }
}

.ct-btn-primary-disabled {
  background: $appGreyBorder;
  border-radius: 5px;
  font-weight: 500;
  border: 0;
  padding: 6px 12px;
  text-align: center;
  color: $appLightGray2;
  box-sizing: border-box;
}
