@import "../theme/variables.scss";

.pageTitle {
  display: flex;
  background: $appWhite;
  box-shadow: 0px -1px 0px $appGreyBorder, 0px 1px 0px $appGreyBorder;
  height: 140px;
  margin-top: 1px;
  padding-left: 70px;
  align-items: center;
  .titleSection {
    margin-left: 14px;
    h2 {
      font-family: Open Sans SemiBold;
      font-style: normal;
      font-weight: 600;
      font-size: 21px;
      line-height: 40px;
      /* identical to box height, or 190% */

      letter-spacing: 0.1px;

      /* Text/Dark - D */

      color: $appTextDark;
    }
    span {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      /* or 160% */

      letter-spacing: 0.2px;

      /* Text/Dark - D */

      color: $appTextDark;
    }
  }
}
