@import '../theme/variables.scss';
.side-bar {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  background-color: $appNavBackground !important;
  transition: width 800ms ease-in-out, padding-left 800ms ease-in-out,
    padding-right 800ms ease-in-out !important;
  max-width: 280px;
  width: 280px;
  .text {
    // transition: all 800ms ;
    transition: opacity 800ms ease-in-out;
    opacity: 1;
    height: auto;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  &.collapsed {
    width: 80px;
    .menuWrapper {
      margin-top: 15px;
    }
    .text {
      opacity: 0;
      height: 0;
      display: none;
      overflow: hidden;
    }
    .dropdown-item {
      padding-left: 0px !important;
    }
    .appLogo {
      margin: 10px 0 0 10px;
      width: 70%;
    }
    .poweredBy {
      display: none;
    }
  }
  .appLogo {
    margin: 30px 0 0 30px;
    transition: all 0.5s ease-in;
  }
  .poweredBy {
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    position: absolute;
    bottom: 0;
    svg {
      width: 19px;
      height: 19px;
      margin-right: 4px;
      path {
        fill: $appDashboardDisabled;
      }
    }
    span {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: $appDashboardDisabled;
    }
  }
}
