build
node_modules

**.lock
**-lock.*
yarn-error.log
package-lock.json
.eslintcache
.env**
token**

# editors
# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
jsconfig.json
tsconfig.json

# Local History for Visual Studio Code
.history/

# Tests
coverage/

# Ignore snapshots for views
tests/unit/views/**__snapshots**

.DS_Store
