@import "../theme/variables.scss";

.userAvatarMenu {
  .popover-body {
    padding: 14px;
    .dropdown-item {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 26px;
      /* or 217% */

      letter-spacing: 0.3px;
      color: $appNavBackground;
      padding: 0;
      text-align: left;
    }
  }
}
.userAvatarIcon {
  font-family: Open Sans SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.1px;
  .avatar {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background: #ccc;
  }
  .btn {
    font-family: Open Sans SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.1px;

    color: $appTertiary;
    svg {
      transition: all 0.5s ease-in;
    }
    &:focus {
      box-shadow: none;
      svg {
        transform: rotate(180deg) !important;
      }
    }
  }
}
