[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "$ARTIFACTORY_PYTHON_READ"
verify_ssl = true
name = "jfrog"

[packages]
pymongo = "*"
huxunifylib-database = {path="../lib/huxunifylib-database", editable=true}
hypothesis = "*"
mongomock="*"

[dev-packages]
pytest = {version="*", index="pypi"}
pylint = {version="*", index="pypi"}
safety = {version="*", index="pypi"}
hypothesis = {version="*", index="pypi"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = false
