[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "$ARTIFACTORY_PYTHON_READ"
verify_ssl = true
name = "jfrog"

[packages]
flasgger= {version="0.9.5", index="pypi"}
Flask= {version="1.1.2", index="pypi"}
flask-marshmallow= {version="0.14.0", index="pypi"}
marshmallow= {version="3.10.0", index="pypi"}
flask-apispec= {version="0.11.0", index="pypi"}
flask-swagger-ui= {version="3.36.0", index="pypi"}
Flask-RESTful= {version="0.3.8", index="pypi"}
apispec= {version="4.3.0", index="pypi"}
apispec-webframeworks= {version="0.5.2", index="pypi"}
boto3= {version="1.17.5", index="pypi"}
pre-commit= {version="2.11.1", index="pypi"}
bson= {version="4.2.0", index="pypi"}
pymongo= {version="3.11.3", index="pypi"}
mongomock= {version="3.22.1", index="pypi"}
python-decouple= {version="3.4", index="pypi"}
requests= {version="2.25.1", index="pypi"}
flask-cors = {version="3.0.10", index="pypi"}
py-healthcheck = {version="1.10.1", index="pypi"}
huxunifylib-database = {path="../../lib/huxunifylib-database", editable=true}
huxunifylib-connectors = {version="*", index="jfrog"}
huxunifylib-util = {version="*", index="jfrog"}
faker = {version="*", index="pypi"}
connexion = "==2.7.0"
prometheus-client = "*"
prometheus-flask-exporter = "*"

[dev-packages]
pytest = {version="*", index="pypi"}
pylint = {version="*", index="pypi"}
safety = {version="*", index="pypi"}
requests-mock= {version="*", index="pypi"}
hypothesis = {version="*", index="pypi"}
moto= {version="*", index="pypi"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = false
