.data-ingest-wrapper {
  text-align: left;
  .ingest-flags {
    display: flex;
    .section {
      margin-right: 50px;
      .heading {
        display: inline-block;
        margin-bottom: 15px;
      }

    }
  }
}