// Buttons
// https://vuetifyjs.com/en/api/v-btn/#sass-variables

// Variables
$btn-border-radius: 5px;
$btn-font-weight: 400;
$btn-font-sizes: (
  "x-small": 0.75rem,
  "small": 0.875rem,
  "default": 1rem,
  "large": 1rem,
  "x-large": 1.125rem,
);
$btn-letter-spacing: 0;
$btn-text-transform: none;
$btn-sizes: (
  "x-small": 20,
  "small": 35,
  "default": 40,
  "large": 45,
  "x-large": 50,
);
$btn-active-opacity: 0.05;

// Customizations
.v-btn--text {
  padding: 0 !important;
}
