// Expansion Panel
// https://vuetifyjs.com/en/api/v-expansion-panel/#api-sass

$expansion-panel-header-font-size: 15px !default;
$expansion-panel-header-padding: 6px 24px !default;
$expansion-panel-header-min-height: 30px !default;
$expansion-panel-active-header-min-height: 40px !default;
