// Globals
// https://vuetifyjs.com/en/api/vuetify/#sass-variables

// Type
$body-font-family: "Open Sans", sans-serif;
$heading-font-family: $body-font-family;
$font-size-root: 14px;
$headings: (
  "h1": (
    "size": 36px,
    "line-height": 1.2,
    "weight": 300,
  ),
  "overline": (
    "size": 30px,
    "line-height": 1.2,
    "weight": 600,
    "letter-spacing": normal,
  ),
  "h2": (
    "size": 24px,
    "line-height": 40px,
    "weight": 300,
  ),
  "h3": (
    "size": 21px,
    "line-height": 40px,
    "weight": 300,
  ),
  "h4": (
    "size": 18px,
    "line-height": 24px,
    "weight": 300,
  ),
  "h5": (
    "size": 15px,
    "line-height": 20px,
    "weight": 400,
  ),
  "h6": (
    "size": 14px,
    "line-height": 22px,
    "weight": 400,
  ),
  "body-2": (
    "size": 12px,
    "line-height": 16px,
    "weight": 400,
    "letter-spacing": 0,
  ),
  "caption": (
    "size": 12px,
    "line-height": 16px,
    "weight": 400,
  )
);

// App
$material-light: (
  "background": #FAFCFD,
);

$border-radius-root: 4px;

$rounded: (
  0: 0,
  null: $border-radius-root,
  'sm': $border-radius-root * 0.5,
  'md': $border-radius-root * 1,
  'lg': $border-radius-root * 3,
  'xl': $border-radius-root * 6,
  'pill': 9999px,
  'circle': 50%,
);

.background-white {
  background: var(--v-white-base);
}
.no-shadow {
  box-shadow: none !important;
}
.cursor-default {
  cursor: default !important;
}