// Globals
// https://vuetifyjs.com/en/api/vuetify/#sass-variables

// Type
$body-font-family: "Open Sans", sans-serif;
$heading-font-family: $body-font-family;
$font-size-root: 14px;
$headings: (
  // H1 (Large) (Main Pages)
  "h1":
    (
      "size": 36px,
      "line-height": 40px,
      "weight": 300,
      "letter-spacing": 0,
    ),
  // H2 (Models & Drawers)
  "h2":
    (
      "size": 24px,
      "line-height": 40px,
      "weight": 300,
      "letter-spacing": 0,
    ),
  // H3 (Sm) (Sectionals)
  "h3":
    (
      "size": 18px,
      "line-height": 25px,
      "weight": 400,
      "letter-spacing": 0,
    ),
  // H4 (Card Headers)
  "h4":
    (
      "size": 18px,
      "line-height": 24px,
      "weight": 300,
      "letter-spacing": 0.1px,
    ),
  // B1 (Reg)
  "body-1":
    (
      "size": 16px,
      "line-height": 22px,
      "weight": 400,
      "letter-spacing": 0,
    ),
  // B2 (Sm) - Hovers & Labels
  "body-2":
    (
      "size": 14px,
      "line-height": 16px,
      "weight": 400,
      "letter-spacing": 0,
    ),
  // Button Text
  "button":
    (
      "size": 12px,
      "line-height": 16px,
      "weight": 400,
      "letter-spacing": 0.5px,
      "text-transform": "inherit",
    ),
  // Metric #s
  "subtitle-1":
    (
      "size": 16px,
      "line-height": 22px,
      "weight": 600,
      "letter-spacing": 0,
    ),
  // Pill Text
  "subtitle-2":
    (
      "size": 12px,
      "line-height": 16px,
      "weight": 600,
      "letter-spacing": 0.2px,
    ),
  // 'optional'
  "caption":
    (
      "size": 16px,
      "line-height": 20px,
      "weight": 400,
      "letter-spacing": 0,
    ),
  // Nav > Headers
  "h5":
    (
      "size": 14px,
      "line-height": 16px,
      "weight": 400,
      "letter-spacing": 0.2px,
    ),
  // Nav > Menu item 1
  "h6":
    (
      "size": 14px,
      "line-height": 22px,
      "weight": 400,
      "letter-spacing": 0,
    )
);

// App
$material-light: (
  "background": #ffffff,
  "primary-text-percent": 1,
  "text-color": "#1e1e1e",
);

$border-radius-root: 4px;

$rounded: (
  0: 0,
  null: $border-radius-root,
  "sm": $border-radius-root * 0.5,
  "md": $border-radius-root * 1,
  "lg": $border-radius-root * 3,
  "xl": $border-radius-root * 6,
  "pill": 9999px,
  "circle": 50%,
);

.background-white {
  background: var(--v-white-base);
}
.no-shadow {
  box-shadow: none !important;
}
.cursor-default {
  cursor: default !important;
}
