// Globals
// https://vuetifyjs.com/en/api/vuetify/#sass-variables

// Type
$body-font-family: "Open Sans", sans-serif;
$heading-font-family: $body-font-family;
$font-size-root: 14px;
$headings: (
  "h1": (
    "size": 36px,
    "line-height": 40px !important,
    "weight": 300,
    "letter-spacing": 0,
  ),
  "h2": (
    "size": 24px,
    "line-height": 40px !important,
    "weight": 300,
    "letter-spacing": 0,
  ),
  "h3": (
    "size": 18px,
    "line-height": 25px !important,
    "weight": 400,
    "letter-spacing": 0,
  ),
  "h4": (
    "size": 18px,
    "line-height": 24px !important,
    "weight": 300,
    "letter-spacing": 0,
  ),
  "body-1": (
    "size": 16px,
    "line-height": 22px !important,
    "weight": 400,
    "letter-spacing": 0,
  ),
  "body-2": (
    "size": 14px,
    "line-height": 16px !important,
    "weight": 400,
    "letter-spacing": 0,
  ),
  "button": (
    "size": 12px,
    "line-height": 16px !important,
    "weight": 400,
    "letter-spacing": 0,
    "text-transform": "inherit",
  ),
  "subtitle-1": (
    "size": 16px,
    "line-height": 22px !important,
    "weight": 600,
    "letter-spacing": 0,
  ),
  "subtitle-2": (
    "size": 12px,
    "line-height": 16px !important,
    "weight": 600,
    "letter-spacing": 0.2px,
  ),
  "caption": (
    "size": 16px,
    "line-height": 20px !important,
    "weight": 400,
    "letter-spacing": 0.5px,
  ),
  "h5": (
    "size": 14px,
    "line-height": 16px !important,
    "weight": 400,
    "letter-spacing": 0.2px,
  ),
  "h6": (
    "size": 14px,
    "line-height": 22px !important,
    "weight": 400,
    "letter-spacing": 0px,
  ),
);

// App
$material-light: (
  "background": #ffffff,
  "primary-text-percent": 1,
  "text-color": "#1e1e1e",
);

$border-radius-root: 4px;

$rounded: (
  0: 0,
  null: $border-radius-root,
  "sm": $border-radius-root * 0.5,
  "md": $border-radius-root * 1,
  "lg": $border-radius-root * 3,
  "xl": $border-radius-root * 6,
  "pill": 9999px,
  "circle": 50%,
);

.background-white {
  background: var(--v-white-base);
}
.no-shadow {
  box-shadow: none !important;
}
.cursor-default {
  cursor: default !important;
}
