@import "../../../theme/variables";

.insight-wrap {
    display: flex;
    background: white;
    .worldmap {
        min-width: 75%;
        border-right: 1px solid #d0d0ce;
        border-left: none;
    }
    .table {
        margin-bottom: 0;
        .ct-list-wrapper {
            border: none;
        }
    }
}

.customer-data-wrapper {
    .cd-top-header {
        background: white;
        padding: 10px 60px;
        border-top: 1px solid $appGreyBorder;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cd-view-all{
            color: $appMainBlue;
        }
        .cd-top-right {
            display: flex;
        }
        .cd-download-btn {
            font-size: 24px;
        }
    }
    .cd-content {
        padding: 10px 60px;
        .cd-content-account-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .cd-profile-image {
                font-size: 32px;
            }
            .cd-customer-name {
                font-size: 21px;
                font-weight: bold;
            }
            .cd-customer-acc-id {
                font-weight: 600;
                font-size: 14px;
                .cd-customer-acc-id-label {
                    color: $appLightGray2;
                    padding-left: 12px;
                }
                .cd-customer-acc-id {
                    padding-left: 12px;
                }
            }
        }
        .cd-cards {
            display: flex;
        }
        .cd-customer-insights {
            margin: 30px 0px;
            .cd-insights-card {
                background: white;
                display: flex;
                border-radius: 5px;
                .cd-customer-detail-container{
                    display: flex;
                    justify-content: space-between;
                    padding: 16px 10px;
                    align-items: center;
                    border-bottom: 1px solid $appGreyBorder;
                    border-right: 1px solid $appGreyBorder;
                    .cd-customer-detail-label {
                        color: $appLightGray2;
                        font-weight: 600;
                        font-size: 12px;
                        padding-left: 8px;
                    }
                    .cd-customer-detail {
                        font-weight: 600;
                        font-size: 16px;
                        padding-right: 8px;
                    }
                }
            }
        }
        .cd-customer-events {
            margin: 30px 0px;
            .cd-customer-event-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .cd-customer-filter {
                    margin-bottom: 10px;
                    button {
                        background: white;
                        border: 1px solid $appGreyBorder;
                        height: 40px;
                        width: 40px;
                        border-radius: 5px;
                    }
                }
            }
        }
        .cd-customer-included {
            margin: 30px 0px;
        }
        .cd-customer-datasource {
            margin: 30px 0px;
        }
        .cd-customer-title {
            margin-bottom: 10px;
        }
    }
} 