[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flasgger = "*"
flask-marshmallow = "*"
apispec = "*"
moto = "*"
algorithmia = "*"
snowflake-connector-python = "*"
h2o = "3.32.0.2"
boto3 = "*"
pandas = "*"
pyarrow = "*"
pre-commit = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.7"
